{% extends 'polls/base.html' %}

{% block content %}

<div class="container">

    <div class="card">
        <div class="card-body">
            <h5>Are you sure ?</h5>
            <form action="" method="post">
                {% csrf_token %}
                <a href="{% url 'choice_delete' choice.pk %}"><Button class="btn btn-danger">Confirm</Button></a>
            </form>
            <a href="{% url 'choice_list' %}"><button class="btn btn-secondary mt-2" >Cancel</button></a>
        </div>

    </div>

</div>



{% endblock %}