{% extends 'polls/base.html' %}

{% block content %}

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="">Choice List</h5>  
        <a href="{% url 'choice_create' %}">
            <button class="btn btn-success">Add Choice</button>
        </a>
    </div>
  <div class="card-body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Serial</th>
                <th>Question</th>
                <th>Choice Text</th>
                <th>Votes</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for choice in choices %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ choice.question.question_text }}</td>
                <td>{{ choice.choice_text }}</td>
                <td>{{ choice.votes }}</td>
                <td>{{ choice.created_at }}</td>
                <td>
                    <a href="{% url 'choice_update' choice.pk %}">
                        <button class="btn btn-warning" >Edit</button>
                    </a>
                    
                    <a href="{% url 'choice_delete' choice.pk %}">
                        <button class="btn btn-danger">Delete</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>


{% endblock %}